@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@100;300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.flex {
	display: flex;
	max-width: 1280px;
}
.container {
	max-width: 1080px;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}
header {
	background-color: #3a3a3a;
	width: 120%;
	padding: 10px;
}
.logo,.sociais {
	width: 25%;
}
.logo img {
	width: 120px;
}
.menu {
	text-align: center;
}
.menu nav a {
	color: #ffff;
	text-decoration: none;
	padding-right: 50px;
	font-size: 18px;
	position: relative;
}
.sociais button {
	width: 40px;
	height: 40px;
	background-image: linear-gradient(45deg, #04ff00,#026e00);
	border: none;
	margin-right: 10px;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0px 10px 40px #000000;
}
.sociais button i {
	font-size: 20px;
	color: #ffff;
}
.menu nav a::after {
	content: " ";
	width: 0px;
	height: 4px;
	background-image: linear-gradient(45deg, #04ff00,#026e00);
	position: absolute;
	top: 25px;
	left: 0;
	transition: width 0.5s;
	border-radius: 10px;
}
.menu nav a:hover::after {
	width: 50px;
}
.menu nav input {
	border:solid;
	border-radius:10px;
	border: none;
	padding: 15px;
	background: #000000;
	color: #ffff;
	font-size: 12pt;
	box-shadow: 0px 10px 40px #000000;
	outline: none;
	box-sizing: border-box;
  }
  
.texto {
	float:left;
	background-color: transparent;
	padding-left:5px;
	border:none;
	height:30px;
	width: 75%;
	display: flex;
	margin: 20px 5px;
}
.corpo {
	background: #000000;
}
input::placeholder {
	color: #ffffff;
}
.container-01 {
	display: flex;
	padding: 20px;
}
.gif {
	width: 450px;
	margin: 30px;
}
.text {
	color: #ffffff;
	padding: 50px 50px;
	font-size: 2vh;
	line-height: 20px;
	background: #3a3a3a;
	border-style: solid;
	border-color: #04ff00;
	border-radius: 20px;
	box-shadow: 0px 10px 40px #04ff00;
	border-width: 3px;
	line-height: 20px;
	display: flex;
	background-color: #3a3a3a;
	padding: 10px;
	margin: 20px 20px;
	border-style: solid;
	border-color: #04ff00;
	border-radius: 20px;
	text-align: center;

}
iframe {
	width: 300px;
	height: 400px;
	margin: 10px;
}
img {
    width: 500px;
}
p {
	color: #ffffff;
}
img, p {
	display: inline-block;
}
.caixa {
	display: flex;
	background-color: #3a3a3a;
	padding: 10px;
	margin: 20px 20px;
	border-style: solid;
	border-color: #04ff00;
	border-radius: 20px;
	text-align: center;
}
.caixa p {
	padding: 20px;
	font-size: 20px;
}
h1 {
	text-align: center;
	color: #ffffff;
	padding: 5px;
	margin: 20px 400px;
	border-style: solid;
	border-color: #04ff00;
	background-color: #3a3a3a;
	border-radius: 20px;
}
a {
	text-decoration: none;
	color: #04ff00;

}
video {
	width: 300px;
	height: 400px;
	margin: 10px;
}
.coluna {
	display: block;
}
.scale{
	width: 500px;
	height: 500px;
}
.svg {
	display: flex;
	justify-content: center;
}



@media (max-width: 480px) {
	.flex {
		display: flex;
	}
    .main-menu {
		flex-wrap: wrap;
		padding: 0px;
    }
	.logo {
		padding: 2px;
	}
	.logo img {
		width: 80px;
		padding: 2px;
	}
	.menu nav {
		padding: 5px 0px 0px 0px ;
		display: flex;
	}
	.menu nav a {
		font-size: 12px;
		padding: 5px;
		margin: 0px;
	}
	.menu {
		width: 100%;
	}
	.sociais {
		text-align: center;
	}
	.sociais button {
		width: 32px;
		height: 32px;
		margin: 2px;
	}
	.container {
		padding: 2px;
	}
	.barra input {
		margin: 2px;
	}
	.texto {
		align-items: center;
		width: 200px;
	}
	h1 {
		margin:  25px 75px 25px 75px;
		padding: 2px;
		border-radius: 7px;
		font-family: 'Righteous', cursive;
	}
	.menu nav input {
		font-size: 10px;
	}
	.caixa {
		flex-direction: column;
		margin: 5px;
		padding: 5px;
	}
	.caixa img {
		width: 330px;
		padding: 15px;
	}
	p {
		letter-spacing: 0.8px;
		line-height: 18px;
		padding: 1px;
	}
	iframe {
		width: 280px;
		height: 400px;
		margin: 10px;
	}
	.fala p {
		font-size: 1px;
	}
}