@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    background: url(fundo.jpg) no-repeat;
    background-position: initial;
    background-size: cover;
    overflow-x: hidden;
    box-shadow: inset 20px 50px 150px 75px #000000;
}

.LineHr {
    width: 3%;
    float: left;
    margin: 1%;
}

.SubTitle {
    padding: 20px;
    text-align: start;
    font-weight: 700;
    font-size: clamp(3.6rem, calc(3.6rem + 3.6 * ((100vw - 48rem) / 80)), 7.2rem);
    line-height: 1;
    letter-spacing: -.0138888889em;
}

.flex-01 {
    max-width: 100%;
}

.bloco-01 {
    padding: 5px;
    margin: 5px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.bloco-01 nav a {
    padding: 10px;
}

.bloco-01 nav input {
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    backdrop-filter: blur(300px);
    color: #000000;
}

.texto {
    color: #000000;
}

.img-logo-01 {
    width: 150px;
}

input::placeholder {
    color: #000000
}

.active {
    margin: 0px;
    padding: 20px;
}

#Barra-01 {
    margin: 10%;
    padding: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 35%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

#lista {
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    margin: 5% 10%;
    font-size: 25px;
    box-shadow: 20px 20px 50px #000000;
    border-radius: 10px;
    background: #ffffff1a;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    backdrop-filter: blur(2px);
}

.itens-00 {
    display: list-item;
}

li {
    list-style: none;
    position: relative;
}

#lista li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    font-size: 20px;
}

.box-search-01 {
    display: list-item;
    position: relative;
}

.des {
    font-size: 10px;
}

h1 {
    font-weight: bold;
    color: #ffffff;
    padding: 40px;
    font-size: 12px;
}

.texto-01 {
    padding: 10px;
    margin: 2%;
    font-size: 25px;
    box-shadow: 20px 20px 50px #000000;
    border-radius: 10px;
    background: #00000088;
    backdrop-filter: blur(2px);
    text-align: center;
    color: #ffffff;
}

ul {
    background-color: #3c3c3c81;
}

#lista li a:hover {
    color: #000000;
    transition: 800ms;

}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background-color: #3c3c3c81;
}

h2 {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #ffffff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:invalid~label,
input:valid~label {
    top: -1px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 35px;
    color: #ffffff;
}

.inputbox ion-icon {
    position: absolute;
    right: 0;
    color: #ffffff;
    font-size: 1.5em;
    top: 25px;
}

.forget {
    margin: -0px;
    font-size: 1em;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forget label input {
    margin-right: 10px;
}

.forget label a {
    color: #000fff;
    text-decoration: none;

}

.forget label a:hover {
    text-decoration: underline;
}

.button {
    background: linear-gradient(45deg, #ffffff, #00ff00, #ffffff);
    width: 100%;
    height: 40px;
    border: #000000 solid 2px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: background 1.5s;
    margin-top: 25px;
    border-radius: 10px 0px 10px 0px;
}

.button:hover {
    transition-delay: 2s;
    background: #00000080 url(pixel-1.png);
    background-size: 100%;
    transition-delay: 1s;
    animation: animate2 1.2s steps(60) forwards;
    transition: 1.3s linear;
    color: #ffffff;
    background-position: center;
    background-size: cover;
    transition-duration: 1.5s;
}

.return {
    display: inline;
}

.link {
    padding-left: 10px;
}

.link a {
    text-decoration: none;
    cursor: pointer;
}

.forget a {
    color: #000000;
    transition: 800ms;
}

.forget a:hover {
    color: #ffffff;
}

footer {
    position: absolute;
}

.img {
    border-radius: 10px;
    margin: auto;
}

.aling {
    display: flow-root;
}

.rodape-01 {
    text-align: center;
}

.footer-01 {
    margin: 0;
    font-size: 15px;
    color: #ffffff;
}

.img-size-1 {
    width: 100%;
}

.img-size-2 {
    width: auto;
}

.img-size-3 {
    width: auto;
}

.img-size-4 {
    width: auto;
}

.img-size-5 {
    height: 400px;
    width: 50%;
}

.img-size-6 {
    width: auto;
}

.img-size-7 {
    width: 100%;
}

.img-size-8 {
    width: auto;
}

.img-size-9 {
    width: auto;
}

.btn-16 {
    border: none;
    color: #000;
}

.btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.margin-btn {
    margin: 5px;
}

.enable,
.activ {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin-right: 50%;
}

.btn-size {
    width: 80%;
}

.TextLink {
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
}

h3 {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
}

.PaddingB {
    position: static;
    margin-top: 25%;
}

.window {
    background: #00d9ff;
}